.pp-container {
    gap: 15px;
    padding: 10px;
    margin: 25px 10px;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-image {
    height: 30%;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #e4e4e4;
}

.user-bio {

}

.user-name {

}